@import "../style/devui.scss";

.devui-datepicker-pro-container {
  position: relative;
}

.devui-datepicker-pro-single-input {
  width: 250px;
}

.devui-datepicker-pro-panel {
  width: 329px;
  height: 313px;
  margin: 4px 0;
  box-shadow: var(--devui-shadow-connected-overlay, 0 2px 8px 0)
    var(--devui-shadow, rgba(0, 0, 0, 0.2));
  position: absolute;
  display: flex;
  .pannel-left {
    width: 80px;
    height: 100%;
    padding: 8px 0;
    background-color: #e9edfa;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none; /* Chrome Safari */
    }

    &-item {
      font-size: 12px;
      height: 30px;
      width: 100%;
      text-align: center;
      line-height: 30px;
      cursor: pointer;
      &:hover {
        background-color: #fff;
      }
    }
    &-year {
      font-size: 14px;
      font-weight: 700;
    }
  }
  .pannel-day {
    width: 249px;
    height: 100%;
    padding: 4px;
  }
  .pannel-header {
    height: 22px;
    width: 100%;
    &-item {
      display: inline-block;
      width: 34px;
      text-align: center;
      line-height: 22px;
    }
  }
}

.pannel-body {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
}

.month-title {
  height: 26px;
  padding-left: 8px;
  color: var(--devui-aide-text, #8a8e99);
  text-align: start;
  line-height: 26px;
}

.month-body {
  width: 100%;
}
.month-line {
  height: 22px;
  line-height: 22px;
  display: flex;
  margin: 4px 0;
}
.month-item {
  flex: 1;
  height: 100%;
  padding: 0 4px;
  text-align: center;
  &:hover {
    span {
      background-color: #f2f5fc;
    }
  }
  span {
    display: block;
    width: 22px;
    height: 22px;
    // background: #5e7ce0;
    // color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
}
